/#primerEntregable.js#
/primerEntregable.js~
/spacemacs/
/node_modules/
/src/segundoEntregable.js~
/src/tercerEntregable.js~
/views/cosas.html~
/src/App.js~
/src/servidor.js~
/src/Routers/apiCartsRouter.js~
/src/Routers/apiProductsRouter.js~
/todo_backend.org~
/src/#products.json#
/src/#products.json.bak#
*.json
/src/Cart.js~
/src/products.json.bak~
/src/products.json~
