<h1>Registro de usuario</h1>


<form id='formularioRegistro' action='' method='post'>
  <input name="Registrar usuario" type="submit" onsubmit="return nuevoUsuario()" value="Registrar Usuario"/>
  <label for="first_name"></label><input type="text" name="first_name" value="Nombre" />
  <label for="last_name"></label><input type="text" name="last_name" value="Apellido" />
    <label for="email"></label><input type="text" name="email" value="Email" />  
  <label for="description"></label><input type="text" name="description" value="description" />
  <label for="age"></label><input type="text" name="age" value="Edad" />
  <label for="password"></label><input type="text" name="password" value="Password" />
</form>

<script src="js/registro.js"></script>